apiVersion: v1
kind: Secret
metadata:
  namespace: "{{ item.namespace }}"
  name: "{{ item.name }}"
type: Opaque
stringData:
{% for k in item.values.keys() %}
  {{ k }}: "{{ item.values[k] }}"
{% endfor %}
